@charset "UTF-8";


.botao{
    background-color: #a968ad;
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 15px;
    padding: 3px;
    border: 1px solid rgb(56, 55, 55);
    box-shadow: 4px 4px 4px rgb(56, 52, 52);
    width: 90px;
    text-align: center;
    font-size: 1.5em;
    margin-right: 5px;

}

.botao:hover
{
    background-color: #c280c7;
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 15px;
    padding: 3px;
    border: 1px solid rgb(56, 55, 55);
    box-shadow: 4px 4px 4px rgb(56, 52, 52);
    width: 90px;
    text-align: center;
    font-size: 1.5em;
    margin-right: 5px;
}
